---
layout: default
---

<div class="home">

    {{ content }}

    <h2>Projects</h2>
    <div class="project-item-outer">
        <a href="/SPGo/" class="project-item-image"><img src="/images/microsot-visual-studio-code.svg" alt="SPGo Visual Studio Code" /></a>
        <div class="project-item-inner">
            <h3><a href="/SPGo/">SPGo</a></h3>
            <span class="project-item-sub">A SharePoint IDE built in visual Studio Code. (<a href="https://github.com/readysitego/">GitHub</a> | <a href="/SPGo/">Documentation</a>)</span>
            <p>SPGo allows you and your team to develop SharePoint web solutions from your local PC using the power of Visual Studio Code. Now you can build SharePoint sites and customizations source-control first with all of the power of a top-tier IDE. Produce cleaner code, deliver faster.</p>
        </div>

    </div>

</div>
